.body-main {
  display: flex;
  justify-content: center;
}

.container-body {
  border: 2px inset white;
  height: 32rem;
  width: 55%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(250, 208, 174); */
  border-radius: 1rem;
}

.head-body {
  font-weight: 400;
  text-align: center;
  border-radius: 1rem;
}

.sub-head-body {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.para-head {
  border: 5px inset white;
  width: 50%;
  margin: auto;
}

.inp-body {
  margin: 1rem;
  text-align: center;
  font-weight: 500;
  border-radius: 1rem;
  color: black;
}
.para-body-btn {
  display: flex;
  justify-content: center;
}

.body-btn {
  border-radius: 1rem;
}

@media (min-width: 360px) and (max-width: 767px) {
  .container-body {
    /* border: 2px inset white; */
    height: 45rem;
    width: 90%;
  }
  .para-head {
    border: 3px inset white;
    width: 80%;
    margin: auto;
    height: 90%;
  }

  .head-body {
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .sub-head-body {
    font-weight: 400;
    font-size: 1.2rem;
  }

  .inp-body {
    margin: 0.5rem;
  }

  .para-body-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .body-btn {
    height: 105px;
    width: 200px;
    margin: 10px 0;
  }
}
