* {
  color: white;
}

.yoga-main {
  display: flex;
  justify-content: center;
}

.container-yoga {
  border: 2px inset white;
  height: 35rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(250, 208, 174); */
  border-radius: 1rem;
}

.cara-yoga {
  margin-top: 2rem;
  height: 30rem;
  /* border: 2px solid black; */
}

.img-yoga {
  height: 15rem;
  width: 100%;
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

.yoga-det {
  font-weight: 900;
}

.ic-cara {
  color: black;
}
